
# LLM API Keys
OPENAI_API_KEY=[REDACTED]

# Langsmith Config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=[REDACTED]
LANGSMITH_PROJECT=[REDACTED]

# Other API Keys
TAVILY_API_KEY=[REDACTED]
HUBSPOT_ACCESS_TOKEN=[REDACTED]
PERPLEXITY_API_KEY=[REDACTED]